body {
  overflow-x: hidden;
  font-family: 'interstate', sans-serif;
  font-style: normal; 
  color: #FFFFFF;
  line-height: 1.35;
}

h1 {
  text-align: center;
  font-weight: 200;
}

@media (max-width: 950px) {
  --nav-height: 60px;
}

@media (max-width: 1250px) {
  --nav-height: 100px;
}

/*Media Queries */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- Apple Watch ----------- */
@media
  (max-device-width: 42mm)
  and (min-device-width: 38mm) { 

}

/* ------------------------------------ */
.site-header {
    height: var(--nav-height);
    width: 100%;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  background: linear-gradient(to right, rgba(123,191,230,0.90) 0%, rgba(232,219,161,1) 100%);
  border-bottom: 1px solid #C6C6C6;
    -webkit-animation: none;
    animation: none;

}

.site-header .header-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 0.40px;
  position: relative;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-header .header-logo {
    margin-top: 0px;
    padding-top: 0px;

}

.site-header .header-logo .logo img {
    width: 80px;
    height: 70px;
    border-left-width: 20px;
    padding-left: 20px;
    padding-top: -2px;
}

.site-header .icon-logo-text {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  color: #FFFFFF;
  border-right: 1px solid #A0A0A0;
  padding-right: 40px;
  padding-left: 15px;
  padding-top: 5px;
}

.site-header .icon-logo-text h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 0.7; 
}

.site-header .icon-logo-text p {
  font-size: 16px;
  font-weight: 400;
  margin-left: 2px;
}

.site-header a {
  text-decoration: none;
  color: #FFFFFF;
}

.site-header .icon-logo-text  a:hover {
  text-decoration: none;
  color: #FFFFFF;
}


.site-header .header-logo .logo:before,
.site-header .header-logo .logo:after {
  -webkit-box-sizing: border-box;
}

.site-header .header-middle-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.site-header .main-nav .main-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 86px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;

}
.site-header .main-nav .main-sections span {
  font-size: 20px;
}
nav ol, nav ul {
    list-style: none;
    list-style-image: none;
}

menu, ol, ul {
    padding: 0;
}

dl, menu, ol, ul {
    margin: 0;
    list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}


/*@media all and (max-width:1250px)*/
.site-header .main-nav .main-sections li.guides a {
    border-right: 0;
}

.site-header .main-nav .main-sections > li > a:focus, .main-nav .main-sections > li > a:hover {
    -webkit-text-fill-color: #000000;
    opacity: 0.75;
    text-decoration: none;


}

.site-header .main-nav .main-sections > li > a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    height: var(--nav-height);
    padding: .5rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid #A0A0A0;
    -webkit-transition: .1s;
    transition: .1s;

}

.site-header .main-nav .main-sections > li {
  width: 200px;
}

a {
    text-decoration: none;
}


/*@media all and (max-width:1250px)*/
.site-header .search {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
}

.page-header-top-nav .search, .site-header .search {
    padding: 0 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*@media all and (max-width:1250px)*/
.site-header .search {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: .1s;
    transition: .1s;
    left: 0px;
    top: var(--nav-height);
    background: #000;
    width: 100%;
    padding: 1rem !important;
}


.site-header .mobile-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-header .mobile-actions {
    display: none;
    margin-left: auto;
    background: #100e17;
    height: var(--nav-height);
    border-left: 1px solid #201c29;
    border-bottom: 1px solid #201c29;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}



.site-header .mobile-actions .search-opener {
    border: 0;
    background: 0 0;
    padding-left: 26px;
}

.site-header .mobile-actions > button {
    padding: 13px 22px;
    outline: 0;
    height: var(--nav-height);
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, input {
    line-height: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

/*----------------------------*\
  Section 1
\*----------------------------*/
.section.first .container .col-md-12 .content {
  background-image: url(../img/PIXNIO-46969-6144x4096-1024x683.jpg), linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  background-size: cover;
  height: calc(107vh - 165px);
  background-blend-mode: overlay;
}

/*----------------------------*\
  Section 2
\*----------------------------*/
.advertisement {
  background-image: url(../img/iStock-494239087.jpg);
  background-size: cover;
}

.advertisement > iframe {
  float: left;
}

.desciption > iframe {
float: right;

}

#section-2 .video-content {
  flex: 1;
  margin: auto 50px;
  width: 922px;
  height: 511px;
}

#section-2 .desc-content {
  flex: 1;
  margin: auto 50px;
  /*border-radius: 17px;*/
  width: 765px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 30px; 
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

#section-2 .desc-info {
  padding-top: 10px;
}


/*----------------------------*\
  Section 3
\*----------------------------*/
.current-coaches {
  background-image: url(../img/household-children-playing-outside.jpg);
  background-size: cover;
}

#section-3 .desc-content {
  flex: 1;
  margin: auto 50px;
  /*border-radius: 17px;*/
  width: 765px;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 30px; 
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;


}

#section-3 .video-content {
  flex: 1;
  margin: auto 50px;
  width: 922px;
  height: 511px;
}

#section-3 .desc-info {
  padding-bottom: 30px;
}

#section-3 .name-coach {
  text-align: center
} 


/*----------------------------*\
  Section 4
\*----------------------------*/
.steam-blogs {
  background-image: url(../img/child_drawing.jpg);
  background-size: cover;
}

#section-4 .desc-content{
  position: relative;
  flex: 1;
  margin: auto 50px;
  /*border-radius: 17px;*/
  width: 765px;
  height: 426px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 30px; 
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

/*
.desc-content-link {
  text-align: center;
  padding-top: 10px;
}*/

.btn-outline-link4 {
/*  position: absolute;
  text-align: center;
  display: block;
  width: 88%;
  flex: 1;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 18px;
  padding-top: 15px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */
  flex: 1;
  position: absolute;
  display: block;
  margin: auto 50px;
  width: 93%;
  text-align: center;
  -moz-box-shadow: 0px 10px 14px -7px #6b6257;
  -webkit-box-shadow: 0px 10px 14px -7px #6b6257;
  box-shadow: 0px 10px 14px -7px #6b6257;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7bbfe6), color-stop(1, #6aabcf));
  background:-moz-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-webkit-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-o-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-ms-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:linear-gradient(to bottom, #7bbfe6 5%, #6aabcf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbfe6', endColorstr='#6aabcf',GradientType=0);
  background-color:#7bbfe6;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:13px 32px;
  font-size: 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #56818f;
  }

.btn-outline-link4:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6aabcf), color-stop(1, #7bbfe6));
  background:-moz-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-webkit-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-o-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-ms-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:linear-gradient(to bottom, #6aabcf 5%, #7bbfe6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aabcf', endColorstr='#7bbfe6',GradientType=0);
  background-color:#6aabcf;
}

.btn-outline.link4:active {
  position:relative;
  top:1px;
}

/*----------------------------*\
  Section 5
\*----------------------------*/
.about-us {
  background-image: url(../img/company_building.jpg);
  background-size: cover;
}


#section-5 .desc-content {
  flex: 1;
  margin: auto 250px;
  /* border: solid 1px;
  border-radius: 17px;*/
  background-color: rgba(0, 0, 0, 0.53);
  padding: 5px;
  padding-left: 30px; 
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  color: #FFFFFF;

  /* margin-left: 500px;
  margin-right: 500px; */
}

#section-5 .desc-title {
  text-align: center;
  padding-top: 100px;
}

#section-5 .our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/*----------------------------*\
  Section 6
\*----------------------------*/
.contact-us {
  background-image: url(../img/cityscape.jpg);
  background-size: cover;
}

#section-6 .desc-title {
  margin: auto 50px;
  position: absolute;
  top: 5px;
  text-align: center;
  width: 100%;
}

#section-6 .maps-section {
  margin: auto 50px;
  flex: 1;
  white-space: nowrap;
  padding-right: 5px;
  top: 200px;
}
#section-6 .maps-section > img {
  width: 819px;
  height: 446px;
  margin-top: 150px;

}

#section-6 .desc-content {
  flex: 1;
  margin: auto 50px;
  /* margin-top: 220px; */
  /* border: solid 1px;
  border-radius: 17px; */
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 200px;
  padding-top: 5px;
  /* margin-left: 40px;
  margin-right: 450px; */
  font-weight: bold;
  line-height: 2;
}

/*----------------------------*\
  Section
\*----------------------------*/
.container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

#section-1 .content, #section-2 .advertisement, #section-3 .current-coaches,  #section-4 .steam-blogs, #section-5 .about-us, #section-6 .contact-us {
  height: calc100vh - 165px);
}

.section-title {
  color: #FAEAAB;
}

.section-title > h1 {
  padding-top: 140px;
  font-size: 80px;
  text-align: center;
  font-weight: 200;
  color: #FFFFFF;
}


.child-class {
  color: white;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  height: 100%;
}

.desc-title {
  color: #FAEAAB;
  font-size: 60px;
  font-weight: bold;
}

.desc-info {
  text-align: justify;
  font-size: 24px;
  font-weight: 200;
  padding-bottom: 10px;
  

}

/*
.desc-link {
  font-size: 40px;
  color: #7BBFE6;
  text-decoration: underline;
  font-weight: 200;
}*/

.btn-outline {
  -moz-box-shadow: 0px 10px 14px -7px #6b6257;
  -webkit-box-shadow: 0px 10px 14px -7px #6b6257;
  box-shadow: 0px 10px 14px -7px #6b6257;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7bbfe6), color-stop(1, #6aabcf));
  background:-moz-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-webkit-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-o-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:-ms-linear-gradient(top, #7bbfe6 5%, #6aabcf 100%);
  background:linear-gradient(to bottom, #7bbfe6 5%, #6aabcf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbfe6', endColorstr='#6aabcf',GradientType=0);
  background-color:#7bbfe6;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:13px 32px;
  font-size: 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #56818f;
}

.btn-outline:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6aabcf), color-stop(1, #7bbfe6));
  background:-moz-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-webkit-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-o-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:-ms-linear-gradient(top, #6aabcf 5%, #7bbfe6 100%);
  background:linear-gradient(to bottom, #6aabcf 5%, #7bbfe6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aabcf', endColorstr='#7bbfe6',GradientType=0);
  background-color:#6aabcf;
}

.btn-outline:active {
  position:relative;
  top:1px;
}
/*----------------------------*\
  Scroll down button
\*----------------------------*/
.scroll-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50px;
  margin: auto;
  position: fixed;
  bottom: -10%;
  left: 50%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

#goToTop {
  display: inline;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  /*background-color: red; */
  /*color: white;*/
  cursor: pointer;
  padding: 15px;
  /*border-radius: 4px;*/
}

#goToTop img {
  height: 30px;
  width: 30px;
}
#goToTop:hover {
  /*background-color: #555; */
}

.pagination-section {
  position: fixed;
  right: 10px;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
}

.dot-section {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: white;
  margin: 15px 0;
}

.dot-section.active {
  background-color: #7fffd4;

}

/*----------------------------*\
  Footer
\*----------------------------*/
footer {
  flex: 1;
  background: linear-gradient(to right, rgba(123,191,230,0.90) 0%, rgba(232,219,161,1) 100%);
  color: #FAEAAB;
  border-top: 50px solid background: rgba(123,191,230,0.5);
}

footer a, footer a:hover {
  color: #FFFFFF;
}


.text-md-center .text-md-left {
  margin-left: 10px;
  color: #FAEAAB;
  border: 1px;
  background-color: rgba(0, 0, 0, 0.30);

}



/*----------------------------*\
  Social Footer
\*----------------------------*/
.social_footer_ul { 
  display:table; 
  margin:1px auto 0 auto; 
  list-style-type:none;  
  margin-bottom: 20px;
}
.social_footer_ul li { 
  padding-left:20px; 
  padding-top:10px; 
  float: left; 

}
.social_footer_ul li a { 
  color:#FFFFFF; 
  border:1px solid #FFFFFF;
  padding:8px;
  border-radius:50%;
}
.social_footer_ul li i {  
  width:20px; 
  height:20px; 
  text-align:center;
}

/*------S.T.E.A.M Classes------*/
.steam-classes-content-pages {
position: relative;
} 
.steam-classes-content-pages .container .row {
  margin-left: 15px;
  margin-right: 15px;

}

.text-conent {
  padding-top: 35px;
  padding-bottom: initial;
  padding-left: initial;
  padding-right: initial;
  font-weight: 900;
  font-style: normal;
  font-size: 87px;
  line-height: 1.8;
  letter-spacing: -2px;
  text-align: center;
}

.level-grade a {
  color: #606060;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;

}

.level-grade a:hover {
  color: #606060;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;

}
.text-color-custom-1 {
  color: #f73861;
}

.text-color-custom-2 {
  color: #7BBFE6;
}

.text-color-custom-3 span {
  font-size: 18px;

}

.text-color-custom-4 span {
  color: #fb6f1a;
  font-size: 24px;
}

.text-color-customs-5 {
  color: #fb6f1a;
  font-size: 20px;
}

.text-color-custom-6 {
  color: #FFFFFF;
  font-size: 20px;
}

.steam-classes-content-pages {
  line-height: 1.8;
}

.steam-classes-content-pages .container .row .col-sm-2 {
  margin: auto;
}

.button-find-classes {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
  text-decoration: none;
  min-width: 10px;
  display: inline-block;
  vertical-align: middle;

}

.button-find-classes a {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #FFF;
  background-color: #f73861;
  padding: 25px 30px 28px 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.button-find-classes a:hover {
  color: #FFF;
  background-color: #ff4081;
  text-decoration: none;
}

.steam-classes-content-pages .container .row .img-content img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.steam-classes-content-pages .container .row .title-content-section {
  color: #6b6b6b;
}

.steam-classes-content-pages .container .row .title-content-section a:hover {
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    color: #f73861;

}
.steam-classes-content-pages .container .row .img-content img:before {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.steam-classes-content-pages .container .row .img-content img:after {
  color: rgba(0,0,0,0);
  top: 50%;
    left: 50%;
    content: "\f065";
    text-align: center;
    line-height: 24px;
    position: absolute;
    z-index: 20;
    font: 39px/11px FontAwesome;
    color: #fec200;
    margin: -12px 0 0 -7px;
    opacity: 0;
    transition: all 0.3s ease 0s;
    position: absolute;
}

.steam-classes-content-pages .container .row .text-content-description {
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;

}


.art-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 36px;
  color: #fb6f1a;
}

.section-recommend-art {
  background-image: url("/yen/img/tmon-parallax-bg-dark.jpg");
    background-position: center center;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.section-recommend-art .container {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-position: 0 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0 none transparent;
    border-radius: 0;
}

.art-child-education {
    background-color: #25589a;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-position: 0 0;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: auto;
    border: 0 none transparent;
    border-radius: 0;

}

/*----------------------------*\
          Find Class
\*----------------------------*/
/* List - Grid */

@media only screen and (min-width: 992px) {
  .grid-group-wrapper.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: right;

  }
  
  .grid-group-wrapper.row:after,
  .grid-group-wrapper.row:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .grid-group-wrapper.row > [class*='col-'] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid-group-wrapper.row .thumbnail,
  .grid-group-wrapper.row .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 200px;
  }
  .grid-group-wrapper.row .caption-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .grid-group-wrapper.row img {
    width: 100%;
    height: auto;
  }
  .grid-group-wrapper.row .price-buy-spacing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .grid-group-wrapper.row .price-buy-spacing .lead {
    margin-bottom: 0px;
  }
  .grid-group-wrapper.row .price-buy-spacing {
    margin-bottom: 10px;
  }
  
  .list-group-wrapper .item {
    float: none;
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
  .list-group-wrapper .item:before,
  .list-group-wrapper .item:after {
    display: table;
    content: " ";
  }
  .list-group-wrapper .item:after {
    clear: both;
  }
  .list-group-wrapper .item .thumbnail img {
    margin-right: 10px;
    float: left;
    margin: auto 10px;
  }
  .list-group-wrapper .item .caption,
  .list-group-wrapper .item .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-group-wrapper .item .caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: justify;
  }
  .list-group-wrapper .item .caption-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: justify;
    margin-right: 50px;
  }
  .list-group-wrapper .item a {
    width: 180px;


}

.cities-zipcode-wrapper {
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 120px;
}

.filter-classes {
  float: left;
  width: 270px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -20px;
}

.filter-classes .row h2 {
  font-size: 1rem;
  font-weight: bold;
  width: 270px;
}

.filter-classes .row ul li {
  list-style: none;
  width: 270px;
  margin-left: -5px;
}

.classes-filters .clear-all {
  font-size: 0.9rem;
  color: #cacaca;
  width: 270px;
}


.b-textlink {
  display: block;
  position: relative;
  text-decoration: none;
  color:#000000;
 
} 

.b-textlink:hover, .b-textlink:visited, .b-textlink:focus {
  color: #000000;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  }

.find-class {
  margin-bottom: 30px;
}