
/*----------------------------*\
  Header
\*----------------------------*/
.header {
	background: rgba(123, 191, 230, 0.9);
	background-size: cover;
  height: 165px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  opacity: 0.95;
}

.top-header {
  display: flex;
}
/*----------------------------*\
	Logo - Header
\*----------------------------*/
.header-logo {
	float:left;

}

.header-logo .logo {
	display:inline-block;
}

.header-logo .logo > img {
	width: 50%;
	max-height: 90px;
	padding: 10px;
	margin-left: -4em;
}
/*----------------------------*\
	Slogan - Header
\*----------------------------*/
.slogan {
	float: left;
	margin-left: -13em;
	margin-top: 6px;
	padding: 3px;
	line-height: 1;
	font-size: 180%;
	color: #FAEAAB;
}
.slogan > p {
	font-size: 70%;
}
/*----------------------------*\
	Nav Header
\*----------------------------*/
.navbar-toggler {
    border-color: rgb(255,102,203);
}

.nav-header {
  display: flex;
  padding: 5px;
  margin-top:15px;
  margin-left: 20px;
}

.navbar.nav-header {
  justify-content: flex-start;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar.navbar-light.nav-header .navbar-toggler:focus {
  outline:0;
}

.navbar-light .navbar-toggler-icon.custome-icon {
  background-image: url("../img/ic-menu.png");
}

.nav-header img {
  width: 35px;
}

.bg-light .nav-item {
  border-top: solid 1px #CCC;
  font-weight: bold;
}

.bg-light .nav-item:hover {
  background-color: #bdbbbb;
}

.bg-light .nav-item:last-child {
  border-bottom: solid 1px #CCC;
}

.nav-item a, .nav-item a:hover {
  color: #555;
}

.search-content {
  margin-left: 20px;
}


/*----------------------------*\
	Section 1
\*----------------------------*/
.section.first .container .col-md-12 .content {
  background-image: url(../img/PIXNIO-46969-6144x4096-1024x683.jpg), linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53));
  background-size: cover;
  height: calc(100vh - 165px);
  background-blend-mode: overlay
}

/*----------------------------*\
  Section 2
\*----------------------------*/
.advertisement {
  background-image: url(../img/iStock-494239087.jpg);
  background-size: cover;
}

.advertisement > iframe {
  float: left;
}

.desciption > iframe {
float: right;

}

/*----------------------------*\
  Section 3
\*----------------------------*/
.current-coaches {
  background-image: url(../img/household-children-playing-outside.jpg);
  background-size: cover;
}

/*----------------------------*\
  Section 4
\*----------------------------*/
.steam-blogs {
  background-image: url(../img/child_drawing.jpg);
  background-size: cover;
}

.desc-content-section4{
  position: relative;
  flex: 1;
  margin: auto 15px;
  /* border: solid 1px; */
  border-radius: 17px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 40px;
}

.desc-content-link {
  position: absolute;
  text-align: center;
  display: block;
  width: 90%;
  flex: 1;
  /* border: solid 1px; */
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 18px;
  padding-top: 15px;
  top: 490px;
  margin-left: 50px;
  margin-right: 50px;
}

/*----------------------------*\
  Section 5
\*----------------------------*/
.about-us {
  background-image: url(../img/company_building.jpg);
  background-size: cover;
}

.desc-content-section5 {
  flex: 1;
  margin: auto 15px;
  /* border: solid 1px; */
  border-radius: 17px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-left: 200px;
  margin-right: 200px;

}


/*----------------------------*\
  Section 6
\*----------------------------*/
.contact-us {
  background-image: url(../img/cityscape.jpg);
  background-size: cover;
}

.section-title-section6 >h1 {
position: absolute;
padding-top: 50px;
text-align: center;
font-size: 3rem;
color: #FAEAAB;
}

.maps-section6 > img {
  width: 500px;
  height: 300px;
  margin-top: 190px;
  padding-left: 50px;
  margin-right: 15px;

}

.desc-content-section6 {

    flex: 1;
  margin: auto 15px;
  margin-top: 190px;
  /* border: solid 1px; */
  border-radius: 17px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 280px;
  color: #FAEAAB;
  font-weight: bold;
  line-height: 2;
}

/*----------------------------*\
  Section
\*----------------------------*/
#section-1 .content, #section-2 .advertisement, #section-3 .current-coaches,  #section-4 .steam-blogs, #section-5 .about-us, #section-6 .contact-us {
  height: calc(100vh - 165px);
}

.section-title {
  color: #FAEAAB;
}

.section-title > h1 {
	text-align: center;
  padding-top: 140px;
  font-size: 3rem;
}

.section.first {
  margin-top: 165px;
}

.child-class {
  color: white;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  height: 100%;
}

.video-content {
  padding: 55px 15px;
  margin: auto 15px;
  flex: 1;
}

.desc-content {
  flex: 1;
  margin: auto 15px;
  /* border: solid 1px; */
  border-radius: 17px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.desc-title {
  color: #FAEAAB;
  font-size: 22pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.desc-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;

}

.desc-link {
  font-size: 13pt;
  color: #7BBFE6;
  text-decoration: underline;
  font-weight: bold;
}

/*----------------------------*\
  Scroll down button
\*----------------------------*/
.scroll-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50px;
  margin: auto;
  position: fixed;
  bottom: -10%;
  left: 50%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

/*----------------------------*\
	Footer
\*----------------------------*/
footer {
  background-color: #45526e;
  color: white;
}

footer a, footer a:hover {
  color: white;
}

/*----------------------------*\
	Social Footer
\*----------------------------*/
.social_footer_ul { 
	display:table; 
	margin:1px auto 0 auto; 
	list-style-type:none;  
	margin-bottom: 20px;
}
.social_footer_ul li { 
	padding-left:20px; 
	padding-top:10px; 
	float: left; 

}
.social_footer_ul li a { 
	color:#CCC; 
	border:1px solid #CCC; 
	padding:8px;
	border-radius:50%;
}
.social_footer_ul li i {  
	width:20px; 
	height:20px; 
	text-align:center;
}


/* 
.navbar {
  justify-content: start;
} */
